.btn-base {
  cursor: pointer;
  padding: 12px 8px;
  border-radius: 3px;
  border-width: 1px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

 .btn-base:hover { 
  background-color:#efeeee;
}